.about .about-content h3 {
  font-weight: 700;
  font-size: 26px;
}

.about .about-content ul {
  list-style: none;
  padding: 0;
}

.about .about-content ul li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 35px;
}

.about .about-content ul li:first-child {
  margin-top: 35px;
}

.about .about-content ul i {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 64px;
  height: 64px;
  font-size: 32px;
  color: #fff;
  background: var(--accent-color);
  margin-right: 15px;
  line-height: 0;
  border-radius: 5px;
}

.about .about-content ul h4 {
  font-size: 18px;
  font-weight: 600;
}

.about .about-content ul p {
  font-size: 15px;
}

.about .about-content p:last-child {
  margin-bottom: 0;
}
