/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
.contact .info-wrap {
  box-shadow: 0px 0px 20px rgba(var(--default-color-rgb), 0.1);
  padding: 30px;
  border-top: 3px solid var(--accent-color);
  border-bottom: 3px solid var(--accent-color);
  height: 100%;
}

@media (max-width: 575px) {
  .contact .info-wrap {
    padding: 20px;
  }
}

.contact .info-item {
  margin-bottom: 40px;
}

.contact .info-item i {
  font-size: 20px;
  color: var(--accent-color);
  background: rgba(var(--accent-color-rgb), 0.08);
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  margin-right: 15px;
}

.contact .info-item h3 {
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

.contact .info-item p {
  padding: 0;
  margin-bottom: 0;
  font-size: 14px;
}

.contact .info-item:hover i {
  background: var(--accent-color);
  color: var(--contrast-color);
}

.contact .yaudahh {
  height: 100%;
  padding: 30px;
  box-shadow: 0px 0px 20px rgba(var(--default-color-rgb), 0.1);
  border-top: 3px solid var(--accent-color);
  border-bottom: 3px solid var(--accent-color);
}

@media (max-width: 575px) {
  .contact .yaudahh {
    padding: 20px;
  }
}

.contact .yaudahh .error-message {
  display: none;
  background: #df1529;
  color: #ffffff;
  text-align: left;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.contact .yaudahh .sent-message {
  display: none;
  color: #ffffff;
  background: #059652;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.contact .yaudahh .loading {
  display: none;
  background: var(--background-color);
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
}

.contact .yaudahh .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid var(--accent-color);
  border-top-color: var(--background-color);
  animation: animate-loading 1s linear infinite;
}

.contact .yaudahh input[type="text"],
.contact .yaudahh input[type="email"],
.contact .yaudahh textarea {
  font-size: 14px;
  padding: 10px 15px;
  box-shadow: none;
  border-radius: 0;
  color: var(--default-color);
  background-color: rgba(var(--background-color-rgb), 0.5);
  border-color: rgba(var(--default-color-rgb), 0.2);
}

.contact .yaudahh input[type="text"]:focus,
.contact .yaudahh input[type="email"]:focus,
.contact .yaudahh textarea:focus {
  border-color: var(--accent-color);
}

.contact .yaudahh input[type="text"]::placeholder,
.contact .yaudahh input[type="email"]::placeholder,
.contact .yaudahh textarea::placeholder {
  color: rgba(var(--default-color-rgb), 0.3);
}

.contact .yaudahh button[type="submit"] {
  color: var(--contrast-color);
  background: var(--accent-color);
  border: 0;
  padding: 10px 30px;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .yaudahh button[type="submit"]:hover {
  background: rgba(var(--accent-color-rgb), 0.75);
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
