.team {
  --default-color: #ffffff;
  --default-color-rgb: 255, 255, 255;
}

.team .member img {
  display: block;
  margin: 0 auto;
}

.team .row {
  margin-top: 20px; /* Menambahkan jarak antara baris */
}

.team .col-xl-4,
.team .col-lg-4,
.team .col-md-6 {
  margin-bottom: 20px; /* Menambahkan jarak antara kolom */
}

.team .section-title {
  color: black;
}

.team .member {
  text-align: center;
  position: relative;
  overflow: hidden;
}

.team .member .member-info {
  opacity: 0;
  position: absolute;
  inset: 0;
  transition: 0.2s;
}

.team .member .member-info-content {
  position: absolute;
  left: 50px;
  right: 0;
  bottom: 0;
  transition: bottom 0.4s;
}

.team .member .member-info-content h6 {
  color: var(--contrast-color);
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 12px;
}

.team .member .member-info-content span {
  font-style: italic;
  display: block;
  font-size: 12px;
}

.team .member .social {
  position: absolute;
  left: -50px;
  top: 0;
  bottom: 0;
  width: 50px;
  transition: left ease-in-out 0.3s;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.team .member .social a {
  transition: color 0.3s;
  display: block;
  color: var(--default-color);
  margin-top: 15px;
}

.team .member .social a:hover {
  color: var(--accent-color);
}

.team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

.team .member:hover .member-info {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.8) 20%,
    rgba(255, 255, 255, 0) 100%
  );
  opacity: 1;
  transition: 0.4s;
}

.team .member:hover .member-info-content {
  bottom: 30px;
  transition: bottom 0.4s;
}

.team .member:hover .social {
  left: 0;
  transition: left ease-in-out 0.3s;
}
