<div class="container">
    <div class="row gy-3">
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <img src="static/img/About us page-rafiki.svg" alt="" class="img-fluid">
        </div>

        <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="about-content ps-0 ps-lg-3">
                <h1><b>About</b></h1>
                <p class="fst-italic" style="text-align: justify;">
                    BengBOT adalah chatbot yang siap membantu Anda dalam menjawab pertanyaan dan memberikan informasi
                    tentang layanan kami di
                    bengkel motor.</p>
                <p>Berikut adalah beberapa hal yang perlu Anda ketahui tentang saya :
                </p>
                <ul>
                    <li>
                        <i class="bi bi-diagram-3"></i>
                        <div>
                            <h4>Kemampuan Utama</h4>
                            <p style="text-align: justify;">Saya dapat membantu Anda dalam masalah servis untuk motor
                                Anda dengan mudah dan cepat,
                                serta memberikan detail tentang
                                layanan yang kami tawarkan, mulai dari perawatan rutin hingga perbaikan yang lebih
                                kompleks.</p>
                        </div>
                    </li>
                    <li>
                        <i class="bi bi-fullscreen-exit"></i>
                        <div>
                            <h4>Kenyamanan dan Aksesibilitas</h4>
                            <p style="text-align: justify;">Saya dirancang untuk menjadi ramah pengguna, jadi Anda tidak
                                perlu khawatir tentang
                                kesulitan dalam berinteraksi dengan
                                saya. Percakapan dengan saya terasa seperti berbicara dengan teman, dan saya siap
                                membantu Anda 24/7.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <h4 style="text-align: center;"><b>Komitmen Kami</b></h4>
            <p style="text-align: center;">
                Dengan
                adanya chatbot ini,
                kami berharap dapat memudahkan Anda dalam mendapatkan layanan yang Anda butuhkan dengan cepat dan
                efisien. Jadi, jangan
                ragu untuk memulai percakapan dengan saya dan temukan segala yang Anda perlukan untuk motor Anda!
            </p>
        </div>
    </div>
</div>