<div class="container section-title" data-aos="fade-up">
    <h1><b>Contact</b></h1>
    <p>Apakah Anda memiliki pertanyaan atau membutuhkan bantuan lebih lanjut?</p>
    <p>Jangan ragu untuk menghubungi kami melalui
        salah
        satu metode berikut.</p>
</div>

<div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row gy-4">
        <div class="col-lg-5">
            <div class="info-wrap">
                <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
                    <i class="bi bi-geo-alt flex-shrink-0"></i>
                    <div>
                        <h3>Address</h3>
                        <p>Indonesia</p>
                    </div>
                </div>

                <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
                    <i class="bi bi-telephone flex-shrink-0"></i>
                    <div>
                        <h3>Call Us</h3>
                        <p>+62 811 1111 8888 (fake)</p>
                    </div>
                </div>

                <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                    <i class="bi bi-envelope flex-shrink-0"></i>
                    <div>
                        <h3>Email Us</h3>
                        <p>orbitkel3@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-7">
            <form method="post" class="yaudahh" data-aos="fade-up" data-aos-delay="200">
                <div class="row gy-4">
                    <div class="">
                        <h2><b>Butuh Bantuan?</b></h2>
                        <p>Kami siap membantu Anda! Apakah Anda memiliki pertanyaan tentang layanan kami, atau butuh
                            saran tentang perawatan motor
                            Anda? Jangan ragu untuk menghubungi kami melalui chatbot di sudut kanan bawah layar ini. Tim
                            kami siap memberikan
                            bantuan dan informasi yang Anda butuhkan dengan cepat dan ramah.</p>
                        <p>Jangan ragu untuk memulai percakapan dengan kami, kami siap membantu Anda dengan layanan
                            pelanggan terbaik!
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>