<div class="container section-title" data-aos="fade-up">
    <h1><b>Frequently Asked Questions</b></h1>
    <p>Kami memahami bahwa Anda mungkin memiliki beberapa pertanyaan umum tentang layanan kami.</p>
    <p>Berikut adalah jawaban untuk
        beberapa pertanyaan yang sering diajukan kepada chatbot kami.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="faq-container">
                <div class="faq-item">
                    <h3>waktu yang tepat untuk mengganti oli motor matic?</h3>
                    <div class="faq-content">
                        <p>Waktu ideal ganti oli motor matic motor yamaha itu sama saja, dihitung berdasarkan jarak
                            tempuh.
                            Idealnya motor matic
                            yamaha sebaiknya melakukan pergantian oli sebelum jarak tempuh mencapai 3.000 km.</p>
                    </div>
                    <i class="faq-toggle bi bi-chevron-right"></i>
                </div>

                <div class="faq-item">
                    <h3>Apa saja jenis spare part asli yang tersedia di bengkel Yamaha?</h3>
                    <div class="faq-content">
                        <p>Baik, Jenis-jenis spare part asli Yamaha yang tersedia di bengkel kami meliputi,Filter udara
                            dan
                            oli,Busi Karburator,
                            Rantai, sepeda, motorKabel, gasRem, (cakram dan tromol) ,Oli mesin, Kopling, Gasket Aki
                        </p>
                    </div>
                    <i class="faq-toggle bi bi-chevron-right"></i>
                </div>
            </div>
        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <div class="faq-container">
                <div class="faq-item">
                    <h3>kapan ban motor harus diganti?</h3>
                    <div class="faq-content">
                        <p>rata-rata memiliki usia pakai 3-4 tahun dengan pemakaian standar dimana setiap hari dipakai
                            untuk
                            kerja berangkat dan
                            pulang saja. Namun, jika dipakai untuk operasional seharian penuh seperti pada kurir antar
                            barang
                            maka ketahanan usia
                            ban motor hanya 2-3 tahun.
                        </p>
                    </div>
                    <i class="faq-toggle bi bi-chevron-right"></i>
                </div>

                <div class="faq-item">
                    <h3>kaca spion motor saya sudah rusak, apa yang harus saya lakukan?</h3>
                    <div class="faq-content">
                        <p>anda dapat melakukan service ringan, biasanya membutuhkan waktu 45 menit atau lebih untuk
                            perbaikan
                            dan pergantian suku
                            cadang. Semoga membantu!</p>
                    </div>
                    <i class="faq-toggle bi bi-chevron-right"></i>
                </div>
            </div>
        </div>
    </div>
</div>