<div class="container">
    <div class="row gy-4">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
            <h1 class="">Layanan Pelanggan Bengkel Motor</h1><br>
            <p style="text-align: justify;">Selamat datang! <br>Temukan cara mudah dan cepat untuk mendapatkan bantuan
                dan
                informasi tentang layanan kami melalui chatbot interaktif kami.</p>
            <div class="d-flex">
                <!-- Tombol untuk menampilkan popup chatbot di dalam section -->
                <button id="chatBtnInside" class="btn-get-started"><b>Chat Sekarang!</b></button>
            </div>
        </div>
        <div class=" col-lg-6 order-1 order-lg-2 homee-img">
            <img src="{{ url_for('static', filename='img/Chat bot-amico.svg') }}" class="img-fluid animated" alt="">
        </div>
    </div>
</div>